<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/Logo.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Inicio</title>
</head>
<body id="dBody">
    <header>
        <div id="navbar">
            <a href="#"><img class="icon" src="../assets/img/Logo.png" alt="Logo"></a>
            <a class="navbar-link" href="./contacto.html">Contacto</a>
            <a class="navbar-link" href="./nosotros.html">Nosotros</a>
            <a class="navbar-link" href="./home.html">Incio</a>
        </div>
    </header>
    <section>
        <main>
            <h2 class="product-name">Detalle de ensalada</h2>
            <div class="container">
                <div class="product-detail">
                    <img src="../assets/img/producto1.jpg" class="product-detail-img" alt="César">
                </div>
                <div class="product">
                    <div class="product-name-price">
                        <h2>
                            Cesar
                        </h2>
                        <p>$250</p>
                    </div>
                    <p>Ensalada de lechuga romana y croûtons (trozos de pan
                        tostado) con jugo de limón, aceite de oliva, huevo, salsa
                        Worcestershire, anchoas, ajo, mostaza de Dijon, tomates
                        frescos, queso parmesano y pimienta negra
                    </p>
                    <div class="product">
                        <button class="primary-button" title="Agregar al carrito">🛒</button>
                        <button class="secondary-button" title="Comprar">💲</button>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <footer>
        <div class="row">
            <div class="cols">
                <ul>
                    <li><a href="./ayuda.html">Ayuda</a></li>
                    <li><a href="./acerca.html">Acerca de</a></li>
                    <li><a href="./legales.html">Legales</a></li>
                </ul>
            </div>
            <div class="cols">
                Copyright © 2022 Nidea - Av. Binaria 1100, CP S3000, Santa Fe, Argentina
            </div>
            <div class="cols">
                <a href="https://twitter.com">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://instagram.com">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://facebook.com">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>    
    </footer>
</body>
</html>